.DS_Store
node_modules/
dist/
npm-debug.log
yarn-debug.log
test/unit/coverage
test/e2e/reports
selenium-debug.log
.idea/
yarn-error.log
coverage/
.cache

.AppleDouble
.LSOverride
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
### git template
.idea

~ci.list.txt
~ci.log.txt
~ci.errors.txt

*.stackdump
*.bak
*.old

package-lock.json

test/**/*.js
test/**/*.d.ts
test/*.js
test/*.d.ts
test/temp
/yarn.lock
/test/temp*
!/test/demo.ts

*.tgz
